.card {
    /* box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2); */
    padding: 15px;
    position: relative;
}

.card:hover {
    cursor: pointer;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.result {
    transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

._full {
    background: #444;
    color: #fff;
}

.description {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: rgb(157 157 157 / 78%);
    font-style: italic;
}